@charset "utf-8";
/* CSS Document */


.legend-text{
	font-family: courier;
	font-size: 20px;
	text-align: center;
	margin-top: 5px;
	color: brown;
}

form {
    width: 40%;
    text-align: left;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 40px;
}