@charset "utf-8";
/* CSS Document */
#inline
{
	display: inline-block !important;
}
.right
{
	float: right;
}
#error_Field
{
	display: none;
	position: fixed;
	bottom: 90px;
	left: 2px;
}
#loginFoter
{
	position: fixed;
	bottom: 0;
	padding: 0;
}
.legend-text{
	font-family: courier;
	font-size: 20px;
	margin-top: 5px;
	color: brown;
    align:center;
}
#logIn-form
{
	border: 3px solid #ccc;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 18px;
	padding-left: 12%;
}
/*media queries  for responsiveness*/
@media (min-width:400px) and (max-width:1500px){
	.center-block {
       display: block;
       
	}
}
@media (min-width:400px) and (max-width:1200px)
{
	#logIn-form form input
	{
	   width:60% !important;
	}
}
@media (min-width:0px) and (max-width:400px)
{
	#logIn-form form input
	{
	   width:90% !important;
	}
}