@charset "utf-8";
/* CSS Document */

.legend-text{
	font-family: courier;
	font-size: 20px;
	text-align: center;
	margin-top: 5px;
	color: brown;
}

form {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
}