@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	color: #5B5B5B;
}

.container {
	width: 100%;
	margin: 0px auto;
}

/* Header */

#main-header{
	background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:1px;
    margin-bottom: -40px;
}

#header-wrapper {
	overflow: auto;
	height: 90px;
	background: #000000;
}

#header {
	overflow: auto;
	width: 1300px;
	margin: 0 auto;
	padding: 0px 0px;
}

/* Logo */

#logo {
	float: left;
	margin-right: 25px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #12212F;
}

#logo img {
	width: 170px;
    height: 88px;
}

/* Menu */

#menu {
	float: none;
	margin-left: 0px;
	margin-top: 25px;
}

#menu ul {
	list-style: none;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	padding: 13px 14px 10px 16px;
	text-decoration: none;
	text-align: left;
	font-size: 16px;
	font-weight: 300;
	color: #FFFFFF;
	border: none;
}

#menu a:hover{
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
	background: #50B200;
	border-radius: 5px;
}
ul li ul.dropdown{
    max-width: 200px; /* Set width of the dropdown */
    background: #040404;
    display: none;
    position: absolute;
}
ul li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
}
ul li ul.dropdown li{
    display: block;
}


/* Footer */

#footer {
	background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:15px; 
}

#footer p {
	margin: 0;
	padding-top: 10px;
	letter-spacing: 1px;
	line-height: normal;
	text-align: center;
	color: white;
}

#footer a {
	color: #2A2A2A;
}

#nav {
    line-height:30px;
    background-color:white;
    height:500px;
    width:1px;
    float:left;
    padding:5px;	      
}

.error-message{
	color:red;
	font-size:20px;
}

input[type="text"], input[type="date"], input[type="password"] {
	border: 2px solid #c1bcbd;
	height: 35px;
	width: 300px;
	padding: 5px;
	border-radius: 4px;
	box-shadow: none;
}

textarea {
	border: 2px solid #c1bcbd;
	height: 100px;
	width: 450px;
	padding: 5px;
	border-radius: 4px;
	box-shadow: none;
}

input[type="date"] {
	background: url(../images/calander-icon.png) no-repeat 10px center;
	border-color: #d7dbdd;
	padding-left: 35px;
	font-size: 15px;
	color: #7d7d7d
}
/*input CSS End*/
/*Input Button CSS Start*/
input[type="button"]{
	background: #000;
	border-radius: 4px;
	color: #fff;
	padding: 8px 14px;
	border: none;
	text-align: center;
	height: 37px;
	font-size: 15px;
	line-height: 18px
}

input[type="reset"] {
	background: #000;
	border-radius: 4px;
	color: #fff;
	padding: 8px 14px;
	border: none;
	text-align: center;
	height: 37px;
	font-size: 15px;
	line-height: 18px;
}

input[type="button"]:hover{
    background-color: green;
    color: white;
    cursor:pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type="reset"]:hover {
    background-color: red;
    color: white;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type="button"].selected {
	background: #d21034;
	box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
}

input[type="button"].disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/*Input Button CSS End*/