@charset "utf-8";
/* CSS Document */
/*Table css for school list*/

#school-data-table{
	margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#school-data-table tr{
	
}

#school-data-table td{
	height: 30px;
	text-align : center;
	padding: 20px;
}

#school-data-table img{
	height: 300px;
	width: 300px;
}

#school-data-table p{
	
}

#school-data-table h1{
	
}

#school-data-table th {
    background-color: #4CAF50;
    color: white;
}